{% extends 'index.html' %}
{% block page-content %}
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script async="" src="/static/zh_files/ga.js"></script>

<meta name="apple-itunes-app" content="app-id=432274380">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="description" content="一个基于云端的数据分享社区，增长知识，增长见解。">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>云数据 - 最直观的数据</title>



<link rel="stylesheet" href="/static/zh_files/main.e87dad73.css">
<meta name="google-site-verification" content="FTeR0c8arOPKh8c5DYh_9uu98_zJbaWw53J-Sch9MTg">
<meta name="baidu-site-verification" content="KPFppAFoYF4Kkdv9">
<meta property="qc:admins" content="00544670776201056375">
<meta id="znonce" name="znonce" content="43dfeba9f5c34996b2c5ea72063bac54">

<script src="/static/zh_files/instant.14757a4a.js"></script><style type="text/css"></style>

<br><br><br><br><br>


<div class="index-main">
<div class="index-main-body">
<div class="index-header">

<h1 class="logo hide-text">云数据</h1>

<h5 class="subtitle">最直观的数据</h5>
</div>
<div class="desk-front sign-flow clearfix sign-flow-simple">
<div class="index-tab-navs">
<div class="navs-slider" data-active-index="0">
<a href="/reg">注册</a>
<a href="/log" class="active">登录</a>
<!--<span class="navs-slider-bar"></span>-->
</div>
</div>

<div class="view view-signin selected" data-za-module="SignInForm" id="log">
<form action="/acc_login/" method="POST" novalidate="novalidate">
    {% csrf_token %}
<input type="hidden" name="_xsrf" value="017440c08de29f48fb17451a46fd0604">
<div class="group-inputs">
<div class="account input-wrapper">
<input type="text" name="username" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required="">
</div>
<div class="verification input-wrapper">
<input type="password" name="password" aria-label="密码" placeholder="密码" required=""><button type="button" class="send-code-button">获取验证码</button>
</div>
</div>
<div class="button-wrapper command">
<button class="sign-button submit" type="submit">登录</button>
</div>
<div class="signin-misc-wrapper clearfix">
<button type="button" class="signin-switch-button">手机验证码登录</button>
<a class="unable-login" href="#">无法登录？</a>
</div>
</form>



</div>
</div>
</div>

</div>

{% endblock %}
